image: ubuntu:20.04

stages:
 - format
 - build
 - test
 - package

workflow:
  rules:
    # don't create a pipeline if its a commit pipeline, on a branch and that branch has open merge requests.
    - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never
    - when: always

.dependencies:
  before_script:
    - apt-get update -qq
    - export DEBIAN_FRONTEND=noninteractive && apt-get install -y -qq
      casacore-data casacore-dev casacore-tools
      cmake
      g++
      git
      libblas-dev liblapack-dev
      libboost-filesystem-dev libboost-system-dev libboost-date-time-dev
      libboost-program-options-dev libboost-test-dev
      libcfitsio-dev
      libfftw3-dev
      libgsl-dev
      libhdf5-dev
      libopenmpi-dev
      libpython3-dev
      pkg-config
      python3-dev python3-numpy
      python3-sphinx
      python3-pip
      wget

format:
  stage: format
  extends: .dependencies
  script:
    # Update external/aocommon, which contains format.sh.
    - git submodule update --init external/aocommon
    - apt-get install -y -qq clang-format-12
    # The formatter needs a binary named 'clang-format', not 'clang-format-12'.
    - ln -sf clang-format-12 /usr/bin/clang-format
    - pip3 install cmake-format
    # Check formatting of header (*.h), source (*.cpp) and CMake files
    - ./scripts/run-format.sh
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: never
    - when: always

build-without-everybeam-without-cxx17:
  stage: build
  extends: .dependencies
  script:
    - pip3 install pytest astropy gcovr
    - mkdir build
    - cd build
    - cmake -DBUILD_TESTING=ON -DCMAKE_CXX_FLAGS="-coverage" -DCMAKE_EXE_LINKER_FLAGS="-coverage" -DDISABLE_CXX17=YES ../
    - make
    - make doc
    - make install
    # For a push pipeline, run unittests only, otherwise run both unit and integration tests
    - if [[ $CI_PIPELINE_SOURCE == "push" ]] ; then make checkunit; else make check; fi
    - gcovr -r .. -e '.*/tests/.*' -e '.*/external/.*' -e '.*/CompilerIdCXX/.*' --json -o run-unit.json
    # gcovr to enable line coverage highlighting in MRs
    - gcovr --add-tracefile run-unit.json --xml > coverage.xml
    # gcovr to create badge
    - gcovr --add-tracefile run-unit.json
  artifacts:
    reports:
      cobertura: build/coverage.xml

build-with-everybeam:
  stage: build
  extends: .dependencies
  script:
    - pip3 install pytest astropy
    - mkdir -p /opt/everybeam/build && cd /opt/everybeam && git clone https://git.astron.nl/RD/EveryBeam.git
    - cd build/ && cmake -DCMAKE_INSTALL_PREFIX=.. ../EveryBeam/
    - make -j`nproc` install
    - cd $CI_PROJECT_DIR && mkdir build && cd build
    - cmake -DBUILD_TESTING=ON -DCMAKE_PREFIX_PATH='/opt/everybeam' ../
    - make -j`nproc` install
    # For a push pipeline, run unittests only, otherwise run both unit and integration tests
    - if [[ $CI_PIPELINE_SOURCE == "push" ]] ; then make checkunit; else make check; fi

build-casacore-3.0.0:
  stage: build
  needs: []
  before_script:
    - apt-get update -qq
    - export DEBIAN_FRONTEND=noninteractive && apt-get install -y -qq
      bison
      cmake
      flex
      g++
      gfortran
      git
      libblas-dev liblapack-dev
      libboost-filesystem-dev libboost-system-dev libboost-date-time-dev
      libboost-program-options-dev libboost-python-dev libboost-test-dev
      libcfitsio-dev
      libfftw3-dev
      libgsl-dev
      libhdf5-dev
      libpython3-dev
      ninja-build
      pkg-config
      python-dev python-numpy
      wcslib-dev
      wget
  script:
    - mkdir -p /opt/casacore/build
    - cd /opt/casacore
    - wget -O - https://github.com/casacore/casacore/archive/refs/tags/v3.0.0.tar.gz | tar xz
    - cd build
    - cmake -G Ninja -DBUILD_TESTING=OFF ../casacore-3.0.0
    - ninja install
    - cd $CI_PROJECT_DIR && mkdir build && cd build
    - cmake -G Ninja ../ && ninja
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule"
      when: always
    - when: manual
      allow_failure: true

test-nightly-das5:
  stage: test
  needs: []
  tags:
    - das5
  before_script:
    - source scripts/das5_modules.sh
    - export OPENBLAS_NUM_THREADS=1
  script:
    # Recompile EveryBeam against hdf5-mt, which supports multithreading.
    - module unload hdf5
    - module load hdf5-mt
    - mkdir -p everybeam/build
    - cd everybeam && git clone https://git.astron.nl/RD/EveryBeam.git
    - cd build/ && cmake -DCFITSIO_ROOT_DIR=$CFITSIO_ROOT_DIR -DCASACORE_ROOT_DIR=$CASACORE_ROOT_DIR -DCMAKE_INSTALL_PREFIX=.. ../EveryBeam/
    - make -j`nproc` install
    - cd $CI_PROJECT_DIR
    - mkdir -p build && cd build && rm -rf *
    - cmake -DBUILD_TESTING=ON -DCFITSIO_ROOT_DIR=$CFITSIO_ROOT_DIR -DCASACORE_ROOT_DIR=$CASACORE_ROOT_DIR -DCMAKE_INSTALL_PREFIX=. -DCMAKE_PREFIX_PATH="${IDG_ROOT_DIR};$CI_PROJECT_DIR/everybeam;${FFTW3_ROOT_DIR}" ..
    - make -j`nproc`
    - make checkintegration-nightly
  rules:
    - if: $CI_PIPELINE_SOURCE == "schedule" || $CI_PIPELINE_SOURCE == "merge_request_event"
      when: always
    - if: $CI_PIPELINE_SOURCE == "push"
      when: manual
      allow_failure: true

test-system-das5:
  stage: test
  needs: []
  tags:
    - das5
  before_script:
    - source scripts/das5_modules.sh
    - export OPENBLAS_NUM_THREADS=1
  script:
    # Remove MS and coefficient file at end of tests
    - export CLEANUP="true"
    # Create directory for storing the output reports
    - rm -rf reports/* && mkdir -p reports
    - mkdir -p build && cd build && rm -rf *
    - cmake -DBUILD_TESTING=ON -DCFITSIO_ROOT_DIR=$CFITSIO_ROOT_DIR -DCASACORE_ROOT_DIR=$CASACORE_ROOT_DIR -DCMAKE_INSTALL_PREFIX=. -DCMAKE_PREFIX_PATH="${IDG_ROOT_DIR};${EVERYBEAM_ROOT_DIR};${FFTW3_ROOT_DIR}" ..
    - make -j4
    - make checkcommandcatalogue
    - mv test_*.xml $CI_PROJECT_DIR/reports/
  artifacts:
    paths:
      - reports/test_*.xml
    reports:
      junit: reports/test_*.xml
  rules:
    # Do not run for all scheduled pipelines
    - if: $CI_PIPELINE_SOURCE == "schedule" && $SYSTEM_TESTS == "true"
      when: always
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: manual
      allow_failure: true
    - if: $CI_PIPELINE_SOURCE == "push"
      when: manual
      allow_failure: true

package:
  stage: package
  variables:
    PACKAGE_FILE: "wsclean-${CI_COMMIT_TAG}.tar.bz2"
    PACKAGE_URL: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/sources/${CI_COMMIT_TAG}/wsclean-${CI_COMMIT_TAG}.tar.bz2"
  before_script:
    - apt-get update -qq
    - export DEBIAN_FRONTEND=noninteractive && apt-get install -y -qq curl git python3-pip
    - pip3 install git-archive-all
  script:
    - |
      git-archive-all --force-submodules ${PACKAGE_FILE}
      curl --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file ${PACKAGE_FILE} ${PACKAGE_URL}
  rules:
    - if: $CI_COMMIT_TAG
